
body {
    background-color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;    
}

h1 {
    color: rgb(222, 51, 108);
    font-family: 'Courier New', Courier, monospace;
}

span.AppName{
 font-weight: italic;
 animation: mymove 7s infinite ;
}

@keyframes mymove {
    from {background-color: rgb(238, 144, 166);}
    to {background-color: rgb(75, 221, 190);}
  }

.proDescription {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

/* Style buttons */
.btn {
    background-color: rgb(222, 51, 108);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(0, 0, 0);
    ;
}



@media screen and (max-width: 1024px) {
    .Vid {
        display: block;
        margin: 1em auto;
    }
}